<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>cloudVersion</key>
	<string>6622F26D-57C7-4E4F-B3D2-48DCE03F375F</string>
	<key>storeUUID</key>
	<string>AF9F7495-C8B5-4BAA-B4A4-1721E3964297</string>
</dict>
</plist>
